{% if messages %}
            <ul class="msg">
                {% for message in messages %}
                    <li  {% if message.tags %} class="{{message.tags }}" {% endif %}>  {{   message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <table border="2">
            <thead>
                <tr>
                    <th>Image:</th>
                    <th>Student no:</th>
                    <th>Username </th>
                    <th>Email </th>
                    <th>First name </th>
                    <th>Last name </th>
                    <th>Mobile </th>
                    <th>Address </th>
                    <th>Update</th>
                </tr>
            </thead>

            <tbody> 
                {% if request.user.is_superuser %}
                    {% for u in user %}
                        <tr id="row{{u.id}}"> 
                            {% if u.image %}
                                <td><a><img src="{{u.image.url}}" height="20" alt="img"></a></td>
                            {% else %}
                                <td><h5>----</h5></td>
                            {% endif %}
                            <td id="idName{{u.id}}">{{u.id}}</td>
                            <td id="idUserName{{u.id}}">{{u.username}}</td>
                            <td id="idEmail{{u.id}}">{{u.email}}</td>
                            {% if u.first_name %}
                                <td id="idFirstName{{u.id}}">{{u.first_name}}</td>
                            {% else %}
                                <td id="idFirstName{{u.id}}">----</td>
                            {% endif %}

                            {% if u.last_name %}
                                <td id="idLastName{{u.id}}">{{u.last_name}}</td>
                            {% else %}
                                <td id="idLastName{{u.id}}">----</td>
                            {% endif %}
                            <td id="idMobile{{u.id}}">{{u.mobile}}</td>
                            {% if u.address %}
                                <td id="idAddress{{u.id}}">{{u.address}}</td>
                            {% else %}
                                <td id="idAddress{{u.id}}">----</td>
                            {% endif %}
                            {% if u.id == request.user.id %}
                                <td></td>
                            {% else %}
                                <td><button class="btn btn-primary" data-toggle="modal"    onclick="edit_user({{u.id}})" data-target="#myModal" >Update</button></td>
                                <td><button onclick="del_user({{u.id}})"class="btn">Delete</button></td>
                                
                            {% endif %}
                            
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td><a><img src="{{request.user.image.url}}" height="20" alt="img"></a></td>
                        <td>{{request.user.id}}</td>
                        <td>{{request.user.username}}</td>
                        <td>{{request.user.email}}</td>
                        {% if request.user.first_name %} 
                            <td>{{request.user.first_name}}</td>
                        {% else %}
                            <td><h5>None</h5></td>
                        {% endif %}

                        {% if request.user.last_name %} 
                            <td>{{request.user.last_name}}</td>
                        {% else %}
                            <td>None</td>
                        {% endif %}

                        <td>{{request.user.mobile}}</td>
                        {% if request.user.address %} 
                            <td>{{request.user.address}}</td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        
                        <td><a href="{% url 'edit' request.user.id %}">Update</a>
                        </button></td>
                       
                    </tr>
                {% endif %}
            </tbody>
        </table>